<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197429864084-laf96g0r9cae9unc5qfsq070vaip0hfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197429864084-laf96g0r9cae9unc5qfsq070vaip0hfc</string>
	<key>API_KEY</key>
	<string>AIzaSyBuZ7oYz_fyn-pLeOitNMdIv0hS3vY2R6c</string>
	<key>GCM_SENDER_ID</key>
	<string>197429864084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allie</string>
	<key>PROJECT_ID</key>
	<string>midterm-364f8</string>
	<key>STORAGE_BUCKET</key>
	<string>midterm-364f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197429864084:ios:7114f18a0d78c0dbe37681</string>
</dict>
</plist>